<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.recruit.mapper.UsersMapper">
    
    <resultMap type="Users" id="UsersResult">
        <result property="id"    column="id"    />
        <result property="email"    column="email"    />
        <result property="passwordHash"    column="password_hash"    />
        <result property="role"    column="role"    />
        <result property="status"    column="status"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="lastLoginAt"    column="last_login_at"    />
    </resultMap>

    <sql id="selectUsersVo">
        select id, email, password_hash, role, status, created_at, updated_at, last_login_at from users
    </sql>

    <select id="selectUsersList" parameterType="Users" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="email != null  and email != ''"> and email like concat('%', #{email}, '%')</if>
            <if test="role != null "> and role = #{role}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="params.beginCreatedAt != null and params.beginCreatedAt != '' and params.endCreatedAt != null and params.endCreatedAt != ''"> and created_at >= #{params.beginCreatedAt} and created_at &lt; DATE_ADD(#{params.endCreatedAt}, INTERVAL 1 DAY)</if>
        </where>
    </select>
    
    <select id="selectUsersById" parameterType="Long" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        where id = #{id}
    </select>

    <insert id="insertUsers" parameterType="Users" useGeneratedKeys="true" keyProperty="id">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="email != null">email,</if>
            <if test="passwordHash != null">password_hash,</if>
            <if test="role != null">role,</if>
            <if test="status != null">status,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="lastLoginAt != null">last_login_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="email != null">#{email},</if>
            <if test="passwordHash != null">#{passwordHash},</if>
            <if test="role != null">#{role},</if>
            <if test="status != null">#{status},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="lastLoginAt != null">#{lastLoginAt},</if>
         </trim>
    </insert>

    <update id="updateUsers" parameterType="Users">
        update users
        <trim prefix="SET" suffixOverrides=",">
            <if test="email != null">email = #{email},</if>
            <if test="passwordHash != null">password_hash = #{passwordHash},</if>
            <if test="role != null">role = #{role},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="lastLoginAt != null">last_login_at = #{lastLoginAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUsersById" parameterType="Long">
        delete from users where id = #{id}
    </delete>

    <delete id="deleteUsersByIds" parameterType="String">
        delete from users where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>